In [7]:
# R-1.1 Ans
def is_multiple(n, m):
    if n % m == 0:
        return True
    else: 
        return False

# Example
for n in range(1,100):
    if n % 3 == 0:
        print(n)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [9]:
# R-1.2 Ans
def is_even(k):
    if (-1)**k == 1: # cannot use the multiplication, modulo, or division opeators.
        return True
    else:
        return False

# Example
for k in range(1,100):
    if (-1)**k == 1:
        print(k)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [12]:
# R-1.3 Ans
def minmax(data):
    biggest = smallest = data[0]
    for n in data:
        if biggest > n:
            biggest = n
        if smallest < n:
            smallest = n
    return (biggest, smallest)

# Example
data = [1, 2, 3, 4, 5, 6, 7, 8, 99]
print(minmax(data))

(1, 99)

In [14]:
# R-1.4 Ans
def total(n):
    total = 0
    for i in range(n):
        total += i*i
    return total
print('total')
print(total(4))

total
14

In [13]:
# R-1.5 Ans
n = 4
sum([i**2 for i in range(n)])

14